.left{
    float: left !important;
    margin-left: 2%;
}
.right{
   float: right !important;
    margin-right: 2%;
}
.clear{
    clear:both;
}
.logo{
    left:0;
    margin-right: 2%;
}
footer{
    background: #262626;
    bottom: 0;
}
body{
    background-image: url("../img/pexels-min-an-713664.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #cccccc;
}
.container{
        background: lightgray;
        opacity: 0.90;
        margin-bottom: auto;
        padding-bottom: 20px;
}
.active{
    background-color: rgb(156, 82, 82);
}
.white-text{
    color: white;
}