.left{
    float: left !important;
    margin-left: 2%;
}
.right{
   float: right !important;
    margin-right: 2%;
}
.clear{
    clear:both;
}
.logo{
    left:0;
    margin-right: 2%;
}
footer{
    background: #262626;
    bottom: 0;
}
body{
    background-image: url("../img/pexels-nate-1036657.jpg") ;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #cccccc;
}
.container{
        background: lightgray;
        opacity: 0.90;
        margin-bottom: auto;
        padding-bottom: 20px;
}
.active{
    background-color: rgb(156, 82, 82);
}
li{
    margin-left: auto;
}
.white-text{
    color: white;
}
.first{
    margin-top: 60px;
}
.divFloat{
    width: 48%;
    display: inline-block;
    background: lightgray;
    opacity: 0.90;
    height: 500px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5%;
}
.last{
    padding-bottom: 40px;
    color: white;
    margin-left: auto;
}
.navbar{
    max-height: 64px;
}
.mt-5{
    margin-top: 10px !important;
}
h6{
    font-size: 15px;
    color: white;
}