.left{
    float: left !important;
    margin-left: 2%;
}
.right{
   float: right !important;
    margin-right: 2%;
}
.clear{
    clear:both;
}
.logo{
    left:0;
    margin-right: 2%;
}
footer{
    background: #262626;
    bottom: 0;
}
.hContainer{
        background: lightgray;
        opacity: 0.90;
        margin-bottom: auto;
        padding-bottom: 20px;
        min-height: 200px;
}
.active{
    background-color: rgb(156, 82, 82);
}
li{
    margin-left: auto;
}
.white-text{
    color: white;
}
.first{
    margin-top: 66px;
}
.divFloat{
    background: lightgray;
    opacity: 0.90;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2.5%;
    min-height: 500px;
}
.last{
    padding-bottom: 40px;
    color: white;
    margin-left: auto;
}

.mt-5{
    margin-top: 10px !important;
}
h6{
    font-size: 15px;
    color: white;
}
.indexOL li{
    font-size: 30px;
}
.greenB{
    background-color: yellowgreen;
}
.center{
    text-align: center;
}
.expandDiv{
    min-height: 300px;
}
.homeB{
    background-image: url("../img/pexels-nate-1036657.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
 
    background-color: #cccccc;
}
.blogB{
    background-image: url("../img/pexels-min-an-713664.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #cccccc;
}
.aboutB{
    background-image: url("");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #cccccc;
}
.contactUsB{
    background-image: url("../img/pexels-fauxels-3183197.jpg");
    background-repeat: repeat;
    background-position: top;
    background-size: 100% 500px;
    background-attachment: fixed;
}
.blogImg1{
    background-image: url("../img/pexels-athena-1760459.jpg");
    background-repeat: repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
}
.blogImg2{
    background-image: url("../img/pexels-ali-pazani-2777898.jpg");
    background-repeat: repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
}
.bigDiv{
    min-height: 800px;
}
